* {
  padding: 10px;
  margin: 10px;
}

body {
  background-color: #f0f0f8;
  color: rgb(28, 45, 91);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 70px;
  font-weight: normal;
  color: #121212;
}

input,
button {
  border-color: blue !important;
  border-style: dashed !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
