.ListItem {
  color: #0bb0ee;
  display: flex;
  justify-content: space-between;
}

.ListButton {
  border: 1px solid white;
  border-radius: 8px;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c51111;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListButton:hover {
  border-color: #646cff;
}
.ListButton:focus,
.ListButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
